:root {
    --timeline-line-size: 4px;
    --spacing-top: 40px;
    --spacing-side: 12px;
    --timeline-line-bg: #65A9CD;
}

.timeline-wrapper {
    position: relative;
    padding: var(--spacing-top) var(--spacing-side) calc(var(--spacing-top) + 26px);
    margin: 0 auto;
    max-width: 1000px;
}

.timeline-wrapper > div + div {
    margin-top: calc(var(--spacing-top) * 2);
}

.timeline-wrapper:before {
    position: absolute;
    content: '';
    width: var(--timeline-line-size);
    top: 0;
    bottom: 0;
    left: calc(var(--timeline-icon-size) / 2 + var(--spacing-side));
    background-color: var(--timeline-line-bg);
}

@media only screen and (min-width: 768px) {
    .timeline-wrapper:before {
        left: calc(50% - var(--timeline-line-size) / 2);
    }
}