@import-normalize;
@import './assets/fonts/icons/fontello.css';

:root {
  --theme-color: #86BBD8;
  --font-size: 14px;
  --footer-bg: #0A181F;
  --footer-color: #fff;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: var(--theme-color);
  font-size: var(--font-size);
}

a {
  text-decoration: none;
}

.footer {
  text-align: center;
  color: var(--footer-color);
  background-color: var(--footer-bg);
  padding: calc(var(--spacing-top) / 2);
}

.footer a {
  color: var(--footer-color);
}

.icon {
  transition: opacity .5s;
}

.icon + .icon {
  margin-left: 10px;
}

.icon:hover {
  opacity: .5;
}

.footer-socials {
  display: inline-block;
  margin-left: 30px;
}