@import-normalize;
@import './assets/fonts/icons/fontello.css';

:root {
  --theme-color: #86BBD8;
  --footer-bg: #0A181F;
  --footer-color: #fff;
}

body {
  margin: 0;
  background-color: var(--theme-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.footer {
  text-align: center;
  color: var(--footer-color);
  background-color: var(--footer-bg);
  padding: var(--spacing);
}

.footer a {
  color: var(--footer-color);
}

.icon {
  transition: opacity .5s;
}

.icon + .icon {
  margin-left: 5px;
}

.icon:hover {
  opacity: .5;
}

.footer-socials {
  display: inline-block;
  margin-left: 30px;
}