.itembox-wrapper {
    position: relative;
    display: block;
    color: #000;
}

.itembox-image {
    width: 100%;
}

.itembox-title {
    margin: 15px 0;
    font-size: 20px;
    color: var(--timeline-line-bg);
}

.itembox-content {
    margin: 10px 0;
}

.itembox-footer {
    display: block;
    font-size: 12px;
    margin-top: 10px;
}
